<div *ngIf="todo" class="todo">
  <div class="top">
    <p *ngIf="todo.createdAt">{{ todo.createdAt | dateFormatSote }}</p>
    <button (click)="removeTodo()">
      <img src="assets/cross_mark.svg" alt="cross" />
    </button>
  </div>

  <div class="bottom">
    <span
      [ngStyle]="{
        'text-decoration': todo.status === 'terminado' ? 'line-through' : 'none'
      }"
    >
      {{ todo.description }}
    </span>

    <app-dropdown
      [options]="statusOptions"
      [optionSelected]="optionSelected"
      (onSelect)="changeStatus($event)"
    />
  </div>
</div>
